header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	overflow: hidden;

	a {
		color: $color-fg;
		text-decoration: none;
	}

	a:hover {
			text-decoration: underline;
	}

	#logo {
		display: flex;
		align-items: center;
		margin: 0.5rem;
		margin-left: 3rem;
		text-decoration: none;

		img {
			height: 3rem;
		}

		p {
			font-size: 1.5rem;
			font-weight: 550;
			margin-left: 1rem;
		}

	}
	nav {
		display: flex;
		align-items: stretch;

		#nav {
			display: flex;
			align-items: center;
			gap: 3rem;
			
			a {
				font-size: 1.3rem;
			}
		}

		#clients {
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			margin-right: 3rem;

			a {
				font-size: 1.3rem;
			}

			hr {
				width: 80%;
				opacity: 50%;
				border-radius: 5%;
			}

			#clients-toggle {
				margin-left: 3rem;
			}

			#clients-list {
				display: none;
				position: absolute;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				z-index: 1;
				width: 9rem;
				height: 5rem;
				border-radius: 5px;
				margin-top: 0.5rem;
				padding: 0.5rem;
				background-color: #0f2062;
				box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
				transform: translate(0, 75%);
			}

		}

		#clients-toggle:focus + #clients-list,
		#clients-toggle:active + #clients-list {
			display: flex;
		}

		#clients-container:focus #clients-list,
		#clients-container:active #clients-list {
			display: flex;
		}
	}
}

@media screen and (max-width: 870px) {
	header {
		flex-direction: column;
		align-items: center;
		margin-bottom: 1.5rem;

		#logo {
			margin: 0;
		}

		nav {
			flex-direction: column;

			#nav {
				flex-direction: column;
				gap: 1em;
			}

			#clients-container {
				margin-top: 1em;
			}

			#clients {
				flex-direction: column;

				#clients-toggle {
					margin-left: 0;
				}

				#clients-list {
					transform: translate(0, 30%);
				}
			}
		}
	}
}

