@import "colors";
@import "fonts";
@import "header";

body {
	margin: 0;
	color: $color-fg;
	background: linear-gradient(180deg, 
		black 0%,
		$color-bg 20%,
		$color-bg 70%,
		$color-apoth 97%,
		$color-potion-purple 100%)
		no-repeat;
  font-family: $font-reg;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color: $color-fg;
}

main {
	max-width: 920px;
  font-size: 1.2rem;
  margin: 0 auto;
	margin-bottom: 1rem;
  padding: 0 1rem;
	flex-grow: 1;

	h1 {
		margin-top: 4rem;
		margin-bottom: 0;
	}

	h2 {
		margin-top: 3rem;
		margin-bottom: 0.3rem;
	}

	h3 {
		margin-top: 3rem;
		margin-bottom: 0.3rem;
	}

	h4 {
		margin-top: 1rem;
		margin-bottom: 0.3rem;
	}

	p {
		margin: 0;
		margin-bottom: 1rem;
	}

	pre {
		margin: 1rem 0;
	}

	ul {
		margin: 1rem 0;
	}
}

@media screen and (max-width: 828px) {
	main {
		max-width: 90%;
	}
}

p {
	text-align: start;
	text-justify: inter-word;
}

pre {
	overflow-x: auto;
	overflow-y: hidden;
	word-wrap: normal;
	white-space: pre;
	max-width: 95%;
	font-size: 1rem;
	background-color: $color-code !important;
	border-radius: 0.5rem;
	padding: 0.5rem;
	border: 1px $color-code-border solid;
}

table {
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	word-wrap: normal;
	border-collapse: collapse;
	margin-top: 0.7rem;
	margin-bottom: 0.5rem;

	tbody::before {
		content: '';
		display: block;
		height: 0.5rem;
	}

	th {
		font-size: 1.1rem;
	}

	tr {
		border: solid $color-border;
		border-width: 1px 0;
	}

	tr:first-child {
		border-top: none;
	}

	tr:last-child {
		border-bottom: none;
	}
}

footer {
	height: 20vh;
	position: relative;
	overflow: hidden;

	#b1 {
		top: 80%;
		left: 20%;
	}
	#b2 {
		top: 0%;
		left: 90%;
	}
	#b3 {
		top: 30%;
		left: 70%;
	}
	#b4 {
		top: 15%;
		left: 55%;
	}
	#b5 {
		top: 5%;
		left: 35%;
	}
	#b6 {
		top: 70%;
		left: 45%;
	}
	#b7 {
		top: 45%;
		left: 5%;
	}
	#b8 {
		top: 0%;
		left: 100%;
	}
}

.bubble {
	height: 10vh;
	width: 10vh;
	max-height: 60px;
	max-width: 60px;
	border: 2px solid rgba(255, 255, 255, 0.7);
	border-radius: 50px;
	position: absolute;

	.dot {
		height: 2vh;
		width: 2vh;
		max-height: 10px;
		max-width: 10px;
		border-radius: 50px;
		background: rgba(255, 255, 255, 0.5);
		position: absolute;
		top: 20%;
		right: 20%;
	}
}

#reader-output {
	border: 1px solid $color-border;
	border-radius: 0.3rem;
	padding: 1rem;
	overflow: scroll;
}
