{{ define "main" }}
<h1>{{ .Title }}</h1>
{{- partial "toc.html" . -}}
{{ .Content }}
<h1>Useful Content</h1>
{{ range .Pages.ByPublishDate.Reverse }}
<p>
	<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
</p>
{{ end }}
{{ end }}
