<footer>
	<div id="b1" class="bubble"><span class="dot"></span></div>
	<div id="b2" class="bubble"><span class="dot"></span></div>
	<div id="b3" class="bubble"><span class="dot"></span></div>
	<div id="b4" class="bubble"><span class="dot"></span></div>
	<div id="b5" class="bubble"><span class="dot"></span></div>
	<div id="b6" class="bubble"><span class="dot"></span></div>
	<div id="b7" class="bubble"><span class="dot"></span></div>
	<div id="b8" class="bubble"><span class="dot"></span></div>
</footer>
