<header>
	<a id="logo" href="/">
		<img src="/logo-sm.png" alt="The Apothecary Logo">
		
		<p>The Apothecary</p>
	</a>
	
	<nav>
		<div id="nav">
			{{ range .Site.Menus.main }}
			<a href="{{ .URL }}">
				{{ $text := print .Name | safeHTML }}
				{{ $text }}
			</a>
			{{ end }}
		</div>
		<div id="clients-container">
			<div id="clients">
				<a id="clients-toggle" href="#">Clients</a>
				<div id="clients-list">
					<a href="https://cinny.the-apothecary.club" target="_blank">Cinny</a>
					<hr>
					<a href="https://schildichat.the-apothecary.club" target="_blank">Schildi Chat</a>
				</div>
			</div>
		</div>
	</nav>
</header>
