<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ $scss := resources.Get "scss/main.scss" }}
	{{ $style := $scss | resources.ToCSS | resources.Fingerprint }}
	<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
	<link rel="canonical" href="{{ .Permalink }}" />
	<link rel="icon" type="image/png" href="/icon.png">
	{{ $title := print .Site.Title " | " .Title }}
	{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
	<title>{{ $title }}</title>
</head>
