{{ define "main" }}

{{ .Content }}

<h2>Recent Apothecary Announcements</h2>
<h4 style="margin-left: 1rem; margin-top: 0.3rem">
	from <a href="https://cathode.church/@apothecary">@apothecary@cathode.church</a>
</h4>

<div id="reader-output"></div>
<script src="/js/reader.js"></script>
{{ end }}
