{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
{{ range .Pages.ByPublishDate.Reverse }}
<p>
	<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
	<a class="summary" href="{{ .RelPermalink }}">
		<p>{{ .Summary }}</p>
	</a>
</p>
{{ end }}
{{ end }}
